.block {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: white;

  display: grid;
  grid-template-columns: 0.2fr 1fr;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  ejs-symbolpalette {
    max-width: 253px;
    width: 100%;
  }

  ejs-diagram {
    width: 100%;

    // #diagram_diagramPorts_svg,
    // #diagram_htmlLayer,
    // #diagram_diagramLayer_div,
    // #diagram_diagramLayer_svg,
    // #diagram_diagramAdornerLayer,
    // #diagram_gridline_svg {
    //   width: 100% !important;
    // }

    #diagramcontent{
      &::-webkit-scrollbar{
        display: none;
      }
    }
  }

  .popup_modal {
    position: fixed;
    background-color: white;
    right: 0;
    top: 0;
    width: 300px !important;
    height: 300px !important;

    ejs-overview {}
  }

}

.div_data{
  position: fixed;
  z-index: 999;
  background-color: aquamarine;
  width: 500px;
  height: 500px;
}