.constructor {
  display: flex;
  flex-direction: row;
  height: 100vh;

  ::ng-deep {
    #stencil {
      width: 300px;
      position: relative;
      height: 100vh;
    }

    #paper {
      width: 800px !important;
      height: 800px !important;
    }

    #inspector {
      width: 300px;

      ::ng-deep .joint-inspector {
        width: 300px;
        position: relative;
      }
    }
  }

}