<div class="block">
  <style>
    ::ng-deep .diagram-drawing-tool .image-pattern-style {
      background-color: white;
      background-size: contain;
      background-repeat: no-repeat;
      height: 45px;
      width: calc((100% - 12px) / 3);
      cursor: pointer;
      border: 1px solid #d5d5d5;
      background-position: center;
      float: left;
    }
  
    ::ng-deep.diagram-drawing-tool .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  
    ::ng-deep .diagram-drawing-tool .sb-child-row {
      padding-top: 8px;
    }
  
    ::ng-deep .diagram-drawing-tool .row-header {
      font-size: 12px;
      font-weight: 500;
    }
  
    ::ng-deep .diagram-drawing-tool .property-panel-header {
      padding-top: 15px;
      padding-bottom: 5px;
    }
  
    ::ng-deep .diagram-drawing-tool .e-selected-style {
      border-color: #006ce6;
      border-width: 2px;
    }
  
    ::ng-deep .diagram-drawing-tool .control-section {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0px;
    }
  
    ::ng-deep .diagram-drawing-tool .container-fluid {
      padding-left: 0px;
    }
  
    ::ng-deep .diagram-drawing-tool .col-xs-6 {
      padding-left: 0px;
      padding-right: 0px;
    }
  </style>
  <ejs-symbolpalette
    id="symbolpalette"
    [expandMode]="expandMode"
    [palettes]="palettes"
    [getSymbolInfo]="getSymbolInfo"
    width="100%"
    height="100%"
    [symbolHeight]="90"
    [symbolWidth]="100"
    [symbolDragSize]="'height'"
    [getNodeDefaults]="getNodeDefaults"
    [getConnectorDefaults]="getConnectorDefaults"
  >
  </ejs-symbolpalette>

  <div class="block_right">
    <div class="header">
      <button mat-button (click)="choiceStageDyagrams('diagram')" [ngClass]="{'active': isActiveStage === 'diagram'}">Proccess State</button>
      <button mat-button (click)="choiceStageDyagrams('Procurement_Risk')" [ngClass]="{'active': isActiveStage === 'Procurement_Risk'}">Procurement Risk</button>
    </div>
    <ejs-diagram
    #diagram
    id="diagram"
    width="100%"
    height="100%"
    [snapSettings]="snapSettings"
    [contextMenuSettings]="contextMenuSettings"
    [selectedItems]="selectedItems"
    [getConnectorDefaults]="getConnectorDefaults"
    (dragEnter)="dragEnter($event)"
    (dragOver)="dragLeave()"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
    (connectionChange)="connectionChange($event)"
    [getNodeDefaults]="getNodeDefaults"
    (created)="created()"
    (positionChange)="checkToChange()"
    (selectionChange)="selectionChange($event)"
    (propertyChange)="changeText($event)"
    (onUserHandleMouseDown)="onUserHandleMouseDown($event)"
  >
  </ejs-diagram>
  <div class="action--btn">
    <button (click)="enableGrid()" [ngClass]="{'active': isGridEnabled}">Grid</button>
    <button (click)="disableGrid()" [ngClass]="{'active': !isGridEnabled}">None</button>
  
  </div>
  <div class="popup_modal">
    <ejs-overview id="overview" width="300px" height="300px" sourceID="diagram">
    </ejs-overview>
  </div>
</div>

</div>

