<section class="start-settings">
  <div class="content">
    <p>You can choose our pages for project or create own</p>
    <div class="settings-list">

      <div class="list_content" *ngFor="let list of listSettings; let listIndex = index">
        <p class="content_title">- {{list.titleList}}</p>
        <button (click)="choicePage( content.key)" class="content_pages"
          *ngFor="let content of list.listContent; let id = index">
          <nav>{{content.title}}</nav>
          <div class="circle" [ngClass]="{'active': hasActiveContent(content.key)}"></div>
        </button>
      </div>
    </div>

    <div class="settings-footer">
      <button (click)="Save()">Save</button>
    </div>
  </div>
</section>