.added_content {
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;

  .added-settings {
    height: 350px;
    animation: open 0.5s ease;
    background-color: aliceblue;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    box-shadow: 0 3px 35px gray;
    padding: 25px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .added-settings-choice {

      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .settings_data_block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        .title {
          font-size: 3.6rem;

        }

        .settings_data {
          border-radius: 12px;
          border: none;
          background-color: white;
          outline: none;
          padding: 12px 25px;
          font-size: 1.8rem;
          box-shadow: 0.5px 0.5px 4px gray;
          cursor: pointer;

          &:hover {
            background-color: rgb(238, 237, 237);
            transition: all 0.5s ease;
          }
        }
      }

      .close {
        width: 52px;
        height: 52px;
        border-radius: 12px;
        box-shadow: 0.5px 0.5px 12px gray;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(128, 128, 128, 0.5);
          transition: all 0.5s ease;
        }

        img {
          object-fit: cover;
          width: 25px;
        }
      }
    }

    .added-naming {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100%;

      .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        input {
          outline: none;
          border: 1px solid gray;
          font-size: 2rem;
          padding: 8px;
          border-radius: 12px;
        }

        button {
          outline: none;
          border: none;
          box-shadow: 0.5px 0.5px 12px gray;
          border-radius: 12px;
          width: 42px;
          height: 42px;

          img {
            object-fit: cover;
            width: 25px;
          }
        }
      }
    }
  }
}

@keyframes open {
  from {
    transform: translateY(-400px);
  }

  to {
    transform: translateY(0);
  }
}