.main {
  height: 100%;
  width: 100%;
  position: relative;

  .added {
    position: absolute;
    bottom: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow:  0.5px 0.5px 12px rgb(199, 198, 198);
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;
    cursor: pointer;

    &:hover{
      transform: scale(1.05);
      transition: all 0.5s ease;
      background-color: rgb(221, 221, 221);
    
    }

    img {
      width: 20px;
      height: auto;
      object-fit: cover;
    }
  }
}