<div class="messages_header">
  <div class="header_logo">
    <h3>All chats</h3>
    <div class="footer">
      <input type="text" placeholder="search">
      <button class="settings">
        <img src="/assets/images/global/setting.png" alt="">
      </button>
    </div>
  </div>
  <div class="header_chats" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()" (mouseleave)="onMouseUp()"
    (mousemove)="onMouseMove($event)">
    <div class="chat_pluss" (click)="createNewChat()">
      <img src="/assets/images/global/plus.svg" alt="Plus">
    </div>
    <div class="folder" *ngIf="isNewCreate">
      <input type="text" placeholder="name" [(ngModel)]="newChat">
      <img (click)="saveChat()" src="/assets/images/global/done.svg" alt="Plus">
    </div>
    <div class="chat" (click)="choiceChat(chats.key)" *ngFor="let chats of messagesLists" routerLink="/bbc/direct-messages{{chats.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">{{chats.title}}</div>

  </div>
</div>