<div class="sidebar">
  <div class="sidebar-route">
    <div class="sidebar-header">
      <h3 class="title">{{TitlePage}}</h3>
      <button class="settings" (click)="openSettings()">
        <img src="/assets/images/global/setting.png" alt="">
      </button>
    </div>
    <div *ngIf="isActive">
      <ng-container *ngFor="let list of listSettings; let listIndex = index">

        <div *ngIf="hasActiveContent(list.listContent)" class="list_content">
          <p class="content_title">{{list.titleList}}</p>

          <!-- Цикл для элементов внутри списка -->
          <button [ngClass]="{'active': isActive.includes(content.key)}" routerLink="/{{TitlePage}}/{{content.key}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="openPage(content.key)" class="content_pages"
            *ngFor="let content of list.listContent; let id = index">
            <nav>- {{content.title}}</nav>
          </button>
        </div>
      </ng-container>
    </div>

  </div>