<section class="test">
  <div>
    <input type="text" placeholder="Search" [(ngModel)]="searchText">
  </div>
  <div class="test_container">
    <div class="category" *ngFor="let category of categoriesData| search:searchText;index as i">
      <h1 (click)="openCategory(i)">{{category.name}}</h1>
      <ul *ngFor="let subcategories of category.subcategories">
        <li *ngIf="!isOpenSubcategories[i]">
          <span>{{subcategories.name}}</span>
          <span class="item" *ngFor="let subcategoriesList of subcategories.items">{{subcategoriesList}}</span>
        </li>
      </ul>
    </div>
  </div>
</section>