<section class="drafts">
  <div class="header_folders">
    <div class="folder" (click)="choiceFolder(folder)" *ngFor="let folder of listsFolder">{{folder.name}}</div>
    <div class="folder" *ngIf="isNewCreate">
      <input type="text" placeholder="name" [(ngModel)]="newFolder">
      <img (click)="saveFolder()" src="/assets/images/global/done.svg" alt="Plus">
    </div>
    <div class="folder" (click)="createNewFolder()">
      <img src="/assets/images/global/plus.svg" alt="Plus">
    </div>
  </div>
  <div class="redactor">
    <textarea [(ngModel)]="dataContent" (input)="dataContentChange(dataContent)"></textarea>
  </div>
</section>