// @import '../node_modules/@syncfusion/ej2-angular-diagrams/styles/material.css';
// @import "../node_modules/@syncfusion/ej2-angular-base/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
// @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-icons/styles/material.css';


* {
  margin: 0;
  padding: 0;

  canvas {
    margin-top: 0 !important;
  }

  ::ng-deep {

    path {
      stroke: transparent !important;
    }
  }
}

html {
  font-size: 10px;
  font-family: "Mukta", sans-serif;
}

html body {
  height: 100vh;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;

  #symbolpalette {
    .titleDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px 16px 25px 15px;

      .titleDivTitle {
        font-size: 20px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
      }

      button {
        outline: none;
        background-color: transparent;
        border: 1px solid gainsboro;
        border-radius: 50%;
        width: 24px;
        height: 24px;

        box-shadow: 0px 1px 2px 0px #1018280F;
      }

      .active {
        transform: rotate(180deg);
        transition: all 0.5s ease;

      }

    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      width: 4px;
      background-color: rgb(212, 212, 212);
    }

    &::-webkit-scrollbar-thumb {
      width: 4px;
      background-color: black;
    }
  }

  #symbolpalette_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: none;

  }

  .e-accordion {
    .e-acrdn-item {
      .e-acrdn-header {
        margin: 0 20px 0 14px;
        background-color: #F3F4F6 !important;
        padding: 4px 0 4px 14px !important;
        max-height: 28px;
        border-radius: 4px !important;

        .e-acrdn-header-content {
          color: #101828 !important;
          font-weight: 700 !important;
          line-height: 20px !important;
          font-size: 18px !important;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 200px;

        }

        .e-toggle-icon {
          right: 28px;
        }
      }

      &.e-select {
        border-width: 0 !important;
      }
    }
  }
}

#diagramcontent {
  width: 100% !important;
  height: 100vh !important;
}



jtk-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

jsplumb-surface {
  display: block;
  width: 100%;
  height: 100%;
}

.jtk-surface {
  height: 100%;
  width: 100%;
}

jsplumb-miniview {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.jtk-miniview {
  position: relative;
}

jsplumb-controls {
  position: absolute;
  left: 100px;
}

.zone {
  width: 80px;
  height: 80px;
  background-color: cadetblue;
}

.ports div {
  height: 60px;
}

mat-dialog-container {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 160px !important;
  max-width: 260px !important;
  width: 100% !important;
  background-color: white;
}