<section class="dashboard">
  <div class="dashboard_content">
    <h1>Middle Redesign App</h1>
    <div class="row">
      <div class="icons"><img src="/assets/images/projects/visibility.svg" alt="Visibility">
        <p>Visibility:</p>
      </div>
      <div class="data">Private</div>
    </div>
    <div class="row">
      <div class="icons"><img src="/assets/images/projects/assign-user.svg" alt="Assign User">
        <p>Assign User:</p>
      </div>
      <div class="users">
        <div class="plus" (click)="addUser()">+</div>
      </div>
    </div>
  </div>
</section>